.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: var(--size-base);
  padding-right: var(--size-base);
  padding-top: 1.5rem;
  /* border: red solid 2px; */
}

.nav__sidebar {
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 1.3em;
  /* border: red solid 2px; */
}

.sidebar__link {
  height: var(--size-lg);
  width: calc(var(--size-lg) + 0.15rem);
  align-items: center;
  /* border: red solid 2px; */
}

.link__text {
  display: none;
  height: var(--size-2xl);
  width: 7.5rem;
  margin-left: -0.2rem;
  color: var(--clr-dark);
  font-size: calc(var(--size-md) - 0.2rem);
  font-weight: 700;
}

.link-prof {
  background-image: url(../../public/gaess.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 99px;
}

.prof-text {
  color: #fe4267;
}

.sidebar__follows {
  height: var(--size-xl);
  width: 100%;
  flex-direction: column;
  gap: 0.8rem;
}

.link__portal {
  height: var(--size-xl);
  width: calc(var(--size-xl) + 0.1rem);
  /* border: red solid 2px; */
}

.sidebar__ver-sep {
  background-color: var(--clr-light2);
  height: 100vh;
  width: 2px;
}

.following {
  font-size: 0.85rem;
  font-weight: 600;
  display: none;
}

.acc-follow {
  font-size: 0.9rem;
  color: var(--clr-text-blend);
  display: none;
}

.rewards {
  height: 3.25rem;
  width: 50rem;
  margin-top: 4.5rem;
  display: none;
}

/* lg */
@media (width > 1024px) {
  .sidebar {
    width: 15rem;
  }

  .nav__sidebar {
    margin-left: -9rem;
    margin-top: 0.5rem;
  }

  .link__text {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: red solid 2px; */
  }

  .link__portal {
    display: none;
  }

  .sidebar__link {
    gap: 1rem;
    align-items: center;
    /* border: red solid 2px; */
  }

  .sidebar__ver-sep {
    display: none;
  }

  .following {
    display: block;
  }

  .acc-follow {
    display: block;
  }

  .rewards {
    display: block;
  }
}
