:root {
  --clr-dark: #0b0b0b;
  --clr-dark2: #18181b;
  --clr-light: #fafafa;

  --size-sm: 0.8em;
  --size-base: 1rem;
  --size-md: 1.3rem;
  --size-lg: 1.5rem;
  --size-xl: 2rem;
  --size-2xl: 2.5rem;
  --size-3xl: 3rem;
  --size-4xl: 4rem;
  --size-5xl: 5rem;
  --size-6xl: 6rem;
  --size-7xl: 7rem;
}

body {
  font-family: proxima-nova, sans-serif;
}

p {
  font-size: var(--size-lg);
  font-weight: 600;
}

.hello {
  color: red;
}
